# Nixpacks configuration for Railway
[phases.setup]
nixPkgs = ["python310", "postgresql"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python manage.py collectstatic --noinput"]

[start]
cmd = "gunicorn university_scheduler.wsgi --bind 0.0.0.0:$PORT"
